:root{
    --mainColor--: #330458; 
    --secondeColor--: #F11451;
}

* {
    margin: 0;
    padding: 0;
}

body {
    max-height: 100vh !important;
    max-width: 100%;
}

img {
    max-width: 100% !important;
    max-height: 100vh !important;
}

body::-webkit-scrollbar {
   display: none;               /* width of the entire scrollbar */
  }

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 15.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    z-index: 12;
}

.carousel-item button {
    background-color: var(--mainColor--);
    color: #fff;
    padding: 5px 35px;
    border-radius: 10px ;
    border: none;
    margin-top: 3rem;
}

.carousel-item button a {
    color: #fff;
    text-decoration: none;
    font-size: 1.7rem;
}

.logo {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    z-index: 9;
}

.logo img::after {
    position: absolute;
    content: " ";
    width: 2000px;
    height: 1000px;
    top: 0px;
    left: 0px;
    background: #fff;
    color: #fff;
    z-index: 9;
}

.logo img {
    position: relative;
    max-width: 60px !important;
}

.carousel-item h2 {
    font-size: 4rem;
    color: var(--secondeColor--);
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 5.25rem;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
    z-index: 12;
}

.overlay {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 3.5rem;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 12;
    display: flex;
    padding: 10px;
}

footer .copyright {
    width: calc(100% / 2);
    justify-items: center;
    color: #fff;
}

footer .social {
    width: calc(100% / 2);
}







.social .button{
    display: inline-block;
    height: 40px;
    width: 40px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
  }
  .social .button:hover{
    width: 200px;
  }
  .social .button .icon{
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
    box-sizing: border-box;
    line-height: 40px;
    transition: all 0.3s ease-out;
  }
  .social .button:nth-child(1):hover .icon{
    background: #4267B2;
  }
  .social .button:nth-child(2):hover .icon{
    background: #1DA1F2;
  }
  .social .button:nth-child(3):hover .icon{
    background: #E1306C;
  }
  .social .button:nth-child(4):hover .icon{
    background: #333;
  }
  .social .button:nth-child(5):hover .icon{
    background: #ff0000;
  }
  .social .button .icon i{
    font-size: 1.5rem;
    line-height: 40px;
    transition: all 0.3s ease-out;
  }
  .social .button:hover .icon i{
    color: #fff;
  }
  .social .button span{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 40px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }
  .social .button:nth-child(1) span{
    color: #4267B2;
  }
  .social .button:nth-child(2) span{
    color: #1DA1F2;
  }
  .social .button:nth-child(3) span{
    color: #E1306C;
  }
  .social .button:nth-child(4) span{
    color: #333;
  }
  .social .button:nth-child(5) span{
    color: #ff0000;
  }






    .text{
        font-size: 150px;
        font-weight: 700;
        letter-spacing: 7px;
        outline: none;
        text-transform: uppercase;
        background: linear-gradient(135deg, #330458 0%, #18033e 25%, #f11451 50%, #a90e59 75%, #ffc5e1 100%);
        background-size: 400%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        animation: animate 10s linear infinite;
    }
    .text1{
        font-weight: 700;
        letter-spacing: 7px;
        outline: none;
        text-transform: uppercase;
        background: linear-gradient(135deg, #340458b6 0%,#f1145394 100%);
        background-size: 100%;
    }
    @keyframes animate {
        to{
        background-position: 400%;
        }
    }