* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/image/2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.logo {
    background-image: url(/image/logo.png);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50% , -50%);
    height: 30%;
    width: 35%;
    background-repeat: no-repeat;
}

.carousel {
    height: 100vh !important;
}

.carousel-item {
    position: relative;
    height: 100vh !important;
}

.overlay-1 {
    -webkit-transform: translate3d(0, 0, 0) skew(-10deg, 0deg);
    -moz-transform: translate3d(0, 0, 0) skew(-10deg, 0deg);
    -ms-transform: translate3d(0, 0, 0) skew(-10deg, 0deg);
    transform: translate3d(0, 0, 0) skew(-10deg, 0deg);
    transition: all 0.5s;
    width: calc(100% - 35%);
    height: 100vh;
    position: absolute;
} 

.overlay-2 {
    -webkit-transform: translate3d(0, 0, 0) skew(-10deg, 0deg);
    -moz-transform: translate3d(0, 0, 0) skew(-10deg, 0deg);
    -ms-transform: translate3d(0, 0, 0) skew(-10deg, 0deg);
    transform: translate3d(0, 0, 0) skew(-10deg, 0deg);
    transition: all 0.5s;
    height: 100vh;
    position: absolute;
} 

.overlay-1 {
    top: 0;
    left: -7%;
    background-color: #340458b6;
    width: calc(100% - 42%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-2 {
    top: 0;
    right: -7%;
    background-color: #f114537a;
    width: calc(100% - 43%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-overlay-left {
    top: 0;
    left: -7%;
    width: calc(100% - 57%);
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-overlay-right {
    position: absolute;
    top: 0;
    right: -7%;
    width: calc(100% - 58%);
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}



.not-overlay-left .content-left h2,
.not-overlay-left .content-left p {
    color: #F11451;
}

.not-overlay-right .content-right h2,
.not-overlay-right .content-right p {
    color: #330458;
}


.content-left,
.content-right {
    height: 20%;
    max-width: 80%;
}

.content-left {
    margin-left: 10em;
}
.content-right {
    margin-right: 10em;
}


.content-left p,
.content-right p {
    font-size: 3em;
    letter-spacing: .3em;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
}

.content-left h2,
.content-right h2 {
    font-size: 4em;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 2%;
}

.content-left span,
.content-right span {
    background-image: url(/image/Daco.png);
    background-size: cover;
    height: 60%;
    width: 100%;
    background-repeat: no-repeat;
    display: block;
    font-size: 2.1em;
    padding-left: .5em;
    line-height: 3.2em;
    color: #fff;
    letter-spacing: .3em;
    text-transform: uppercase;
}

.content-left a,
.content-right a {
    color: #fff;
    text-decoration: none;
}

.content-left h2:last-of-type,
.content-right h2:last-of-type {
    margin-top: 1%;
    font-size: 2.5em;
    font-style: normal;
    font-weight: 500;
}